@page
@model RegisterModel


<div class="row">
    <div class="col-md-4">
        <section class="register-container" >

        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
             <div class="register-form" >
                
              <h1 class=" register-head"> Register </h1>
            <h4 id=" detailsR-header">Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <h6 style="background-color:steelblue; color:white">Check the following instruction to register your business</h6>
                <input asp-for="Input.IsBussinessUser" type="checkbox" style="width:25px; height:25px"/>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
             </div>
        </form>
       
        </section>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
