/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color:whitesmoke
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.acc {
    font-family: 'Segoe UI';
    font-weight: bold; 
    margin-top: 15px;
}
.custom-nav {
    background-color: darkblue;
    height: 200px
}

.link-hover {
    transition: .4s;
}
    .link-hover:hover {
        transition: .4s;
        background-color: #eca534;
    }
.hide-info {
    display: none;
}

.info-message:hover + .hide-info {
    display: block;
    color: #eca534;
}

.checkbox-dm{
    width:20px;
    height:20px;
}
.table-size{
    padding:2px,2px,2px,2px;
    font-size:x-small
}

.full-width{
    width:100%
}
.normal-box{
    width:100px;
}
.description-box{
    width:180px;
}
.custom-border-shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #eca534;
}