@model homecoming.webapp.ViewModel.AccomodationViewModel;
@{
    ViewData["Title"] = "AddAccomodation";
}

<div class="col-md-12 mx-auto pt-0 p-0 custom-border-shadow text-center">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white" style="height:45px">
            <h4 class="text-center">Add Accomodation</h4>
        </div>

        <div class="row">
            <div class="col-md-8" style="left:360px">
                <form asp-action="AddAccomodation" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="AccomodationName" class="control-label"></label>
                                <input asp-for="AccomodationName" class="form-control" />
                                <span asp-validation-for="AccomodationName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <select style="margin-top:15px" asp-for="GeoLocation.LocationId" asp-items="@(new SelectList(ViewBag.location,"LocationId","LocationName"))"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="CoverImage" class="control-label"></label>
                                <input asp-for="CoverImage" class="form-control" />
                                <span asp-validation-for="CoverImage" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageList" class="control-label"></label>
                                <input asp-for="ImageList" class="form-control" />
                                <span asp-validation-for="ImageList" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>                  
                </form>
            </div>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

